<header>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
  <!-- logo -->
  <div class="navbar-header">
    <a class="navbar-brand" href="#">
      <img src="assets/img/logo.png" class="logo-small" alt="The Mystical Meadows" width="200" height="50">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
  </div>
   <div class="expand navbar-expand" id="navbarResponsive">
  <ul class="nav navbar-nav ml-auto">
        <li class="nav-item active"><a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a></li>
        <li class="nav-item"><a class="nav-link" href="#">Page 1</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Page 2</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Page 3</a></li>
      </ul>
</div>

</div>
</nav>
</header>
